{% extends 'base.html.twig' %}

{% block title %}GlobalNews{% endblock %}

{% block body %}
    <h1>GlobalNews</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ global_news.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ global_news.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ global_news.description }}</td>
            </tr>
                <th>Image</th>
                <img src="{{ asset('images/news/leavemealone-67d58474bd2e7879780624.jpg') }}" alt="">
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_global_news_index') }}">back to list</a>

    <a href="{{ path('app_global_news_edit', {'id': global_news.id}) }}">edit</a>

    {{ include('global_news/_delete_form.html.twig') }}
{% endblock %}
